.container {
  width: 100%;
  display: flex;
}
.half-container {
  width: 35%;
  margin: 0 auto;
  padding-top: 20vh;
}
.button {
  display: block;
  margin: 20px auto;
  width: 20%;
  text-align: center;
}
